// common styles

$colorBGPrimary: #e1e1e1;
$colorBGSecondary: #ffffff;
$colorBGTertiary: #c5c5c5;
$colorBGCorrect: #beffcf;
$colorBGIncorrect: #e7b0b0;
$colorInput: #5e5e5e;
$colorAccent: #f1814b;
$colorAccentHover: #f1bea5;
$legendBG: #ffe7db;
$darkBG: rgb(51,51,51);

$questionSelectWidth: 60px;
$defaultPadding: 15px;

html, body, #root {
	height: 100%;
}

html {
	background: $darkBG;
}

body {
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', sans-serif;
}

button {
	cursor: pointer;
}

.tutorial-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;

	.tutorial {
		position: absolute;
		z-index: 101;
		width: 480px;
		
		top: 20%;
		left: 50%;
		margin-left: -240px;
		padding: 25px;

		font-size: 0.9em;
	
		background: #fff;

		button {
			position: relative;
			display: block;
			left: 50%;
			width: 120px;
			margin: 20px 0 10px -60px;
			padding: 10px 20px;
			background: $colorAccent;
			border: none;

			font-size: 1.2em;

			cursor: pointer;

			&:hover {
				background: $colorAccentHover;
			}
		}

		.dev-warning {
			color: #990000;
			font-weight: 700;
		}
	}

	.tutorial-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 100;

		background: rgba(0,0,0,0.5);
	}
}



.creator-container, .player-container {
	width: 100%;
	height: 100%;
}

.creator-header, .player-header, .score-header {
	width: 90%;
	padding: 15px 5%;
	background: $colorAccent;

	color: #ffffff;
}

.question-select {
	position: absolute;
	left: 0px;
	top: 52px;
	display: inline-block;
	width: $questionSelectWidth;

	background: rgb(51,51,51);

	button {
		display: block;
		height: 40px;
		width: 40px;
		margin: 5px 10px;

		background: #ffffff;
		border-radius: 50%;
		font-size: 1.25em;

		outline: none;

		&:hover {
			background: $colorAccentHover;
		}

		&.selected {
			color: #fff;
			background: $colorAccent;
		}

	}
}

.content-container {
	width: calc(100% - 60px - 50px); // 100% - question-select - padding
	height: calc(100% - 52px - 50px); // 100% - header - padding
	padding: 25px;
	margin-left: $questionSelectWidth;
	background: $colorBGPrimary;

	.card {
		padding: $defaultPadding;
		background: $colorBGSecondary;
		margin-bottom: 15px;

		header {
			font-weight: 700;
			margin-bottom: 1.5em;
		}
	}

	section.phrase-builder, section.phrase-player, section.question-container {

		padding: 15px 15px 0 15px;

		.token-container {

			width: 100%;
			padding-bottom: 25px;
			// margin-bottom: 25px;
		}
		
		.token {
			display: inline-block;
			padding: 5px 8px;
			
	
			margin-right: 10px;
	
			font-size: 1.5em;
			color: #fff;
			
			border: solid 2px #fff;
			border-radius: 3px;

			cursor: pointer;

			&.unassigned {
				color: #000;
				border: solid 1px #f1814b;
			}

			&.selected {
				border: solid 2px #f1814b;
			}
		}
	}

	section.question-container {
		padding: 15px;
	}
}