// common styles

$colorBGPrimary: #e1e1e1;
$colorBGSecondary: #ffffff;
$colorBGTertiary: #c5c5c5;
$colorBGCorrect: #beffcf;
$colorBGIncorrect: #e7b0b0;
$colorInput: #5e5e5e;
$colorAccent: #f1814b;
$colorAccentHover: #f1bea5;
$legendBG: #ffe7db;
$darkBG: rgb(51,51,51);

$questionSelectWidth: 60px;
$defaultPadding: 15px;

html, body, #root {
	height: 100%;
}

html {
	background: $darkBG;
}

body {
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', sans-serif;
}

button {
	cursor: pointer;
}

span.strong {
	font-weight: 700;
}

.tutorial-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;

	.tutorial {
		position: absolute;
		z-index: 101;
		width: 480px;

		top: 20%;
		left: 50%;
		margin-left: -240px;
		padding: 25px;

		font-size: 0.9em;

		background: #fff;

		img {
			// display: inline-block;
			position: relative;
			top: -20px;
			max-width: 180px;
			float: right;
			border: solid 1px $colorBGTertiary;
		}

		button {
			position: relative;
			display: block;
			left: 50%;
			width: 120px;
			margin: 20px 0 10px -60px;
			padding: 10px 20px;
			background: $colorAccent;
			border: none;

			font-size: 1.2em;

			cursor: pointer;

			&:hover {
				background: $colorAccentHover;
			}
		}

		.dev-warning {
			color: #990000;
			font-weight: 700;
		}
	}

	.tutorial-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 100;

		background: rgba(0,0,0,0.5);
	}
}

.modal-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;

	.modal {
		position: absolute;
		z-index: 101;
		width: 480px;

		top: 20%;
		left: 50%;
		margin-left: -240px;
		padding: 25px;
		min-height: 300px;

		font-size: 0.9em;

		background: #fff;

		button {
			position: relative;
			display: block;
			left: 50%;
			width: 120px;
			margin: 20px 0 10px -60px;
			padding: 10px 20px;
			background: $colorAccent;
			border: none;

			font-size: 1.2em;

			cursor: pointer;

			&:hover {
				background: $colorAccentHover;
			}
		}

		.pref-select {
			input {
				position: absolute;
				width: 30px;
				height: 30px;
				opacity: 0;
				z-index: 10;

				cursor: pointer;
			}
			.radio-overlay {
				position: relative;
				display: inline-block;
				width: 20px;
				height: 20px;
				top: 4px;

				margin-right: 10px;

				background: #fff;
				border: solid 1px #000;
				border-radius: 12px;

				&.selected {
					background: $colorAccent;
					border-color: #000;
				}

				&.left {
					margin-left: 10px;
				}

			}
		}

		.check-select {
			display: none;
			position: relative;

			height: 24px;
			padding-top: 20px;

			&.show {
				display: block;
			}

			&.bottom {
				margin-bottom: 30px;
			}

			input {
				margin-left: 25px;
				position: relative;
				z-index: 10;
				height: 30px;
				width: 40px;
				font-size: 1.1em;

				cursor: pointer;
			}

			.hint-text {
				margin-left: 51px;
				width: 60%;
				height: 30px;
				overflow-x: wrap;
			}

		}

		.dev-warning {
			color: #990000;
			font-weight: 700;
		}
	}

	.modal-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 100;

		background: rgba(0,0,0,0.5);
	}
}

.creator-container, .player-container {
	width: 100%;
	height: 100%;
}

.creator-header, .player-header, .score-header {
	width: 90%;
	padding: 15px 5%;
	background: $colorAccent;

	color: #ffffff;
}

.question-select {
	position: absolute;
	left: 0px;
	top: 52px;
	display: inline-block;
	width: $questionSelectWidth;

	background: rgb(51,51,51);

	button {
		display: block;
		height: 40px;
		width: 40px;
		margin: 5px 10px;

		background: #ffffff;
		border-radius: 50%;
		font-size: 1.25em;

		outline: none;

		&:hover {
			background: $colorAccentHover;
		}

		&.selected {
			color: #fff;
			background: $colorAccent;
		}

	}
}

.content-container {
	width: calc(100% - 60px - 50px); // 100% - question-select - padding
	height: calc(100% - 52px - 50px); // 100% - header - padding 100% - 52px - 50px
	padding: 25px;
	margin-left: $questionSelectWidth;
	background: $colorBGPrimary;

	.card {
		padding: $defaultPadding;
		background: $colorBGSecondary;
		margin-bottom: 15px;

		header {
			font-weight: 700;
			margin-bottom: 1.5em;
		}

		&.pref-card {
			width: 46.8%;
			max-height: 80px;
		}

		&.more-card {
			margin-bottom: 0;
			width: 100%;
			height: 46%;
			padding: 0;
			background-color: $colorAccent;
			cursor: pointer;

			&:hover {
				background-color: $colorAccentHover;

				p {
					color: black;
				}
			}

			p {
				justify-self: center;
				padding-left: 15px;
				color: white;
			}

		}
	}

	section.phrase-builder, section.phrase-player, section.question-container {

		padding: 15px 15px 0 15px;

		.token-container {

			width: 100%;
			padding-bottom: 25px;
			// margin-bottom: 25px;
		}

		.token {
			display: inline-block;
			padding: 5px 8px;


			margin-right: 10px;

			font-size: 1.5em;
			color: #fff;

			border: solid 2px #fff;
			border-radius: 3px;

			cursor: pointer;

			&.unassigned {
				color: #000;
				border: solid 1px #f1814b;
			}

			&.selected {
				border: solid 2px #f1814b;
			}
		}
	}

	section.question-container {
		padding: 15px;
	}
}
