
@import 'common';

.creator-header {

	input {
		width: 400px;
		background: none;
		border: none;
		border-bottom: solid 2px #fff;
		color: #fff;

		font-size: 1em;

		outline: none;
		
	}

	.debug {
		position: absolute;
		width: 120px;
		left: 50%;

		margin-left: -60px;

		padding: 5px 25px;
		outline: none;
		border: none;

		color: #ffffff;
		background: $colorAccentHover;
		font-weight: bold;
	}

	.toggleLegend {
		float: right;
		padding: 5px 25px;
		outline: none;
		border: none;

		color: #ffffff;
		background: $colorAccentHover;
		font-weight: bold;

		&:hover {
			color: #000000;
			background: #ffffff;
		}
	}
}

.question-select button.add-new {
	background: none;
	color: #ffffff;
	border: dashed 1px #ffffff;

	&:hover {
		background: #ffffff;
		color: #000000;
	}
}

.content-container {

	section.question-container input {
		border-width: 0 0 2px 0;
		border-color: $colorInput;
		width: 90%;
		font-size: 1.1em;

		&:focus {
			outline: none;
			border-color: $colorAccent;
		}
	}

	section.phrase-builder {

		.token-container {

			.token-input {
				padding: 5px 8px;
				font-size: 1.5em;
			}
		}

		.token-type-selector {
			display: none;
			position: relative;
			left: -15px;
			// width: calc(100% + 30px);
			width: 100%;

			padding: 15px;

			background: #cacaca;

			&.show {
				display: block;
			}

			label {
				position: relative;
				display: block;
				margin-bottom: 0.5em;

				max-width: 250px;
				
				cursor: pointer;

				input {
					position: absolute;
					top: 0;
					left: 0;
					width: 20px;
					height: 20px;
					opacity: 0;
					z-index: 10;
				}

				span.color-radio {
					position: relative;
					display: inline-block;
					width: 20px;
					height: 20px;

					margin-right: 1em;

					background: #fff;

					vertical-align: middle;
				}
			}
		}
	}

	.additional-options {
		
		.pref-select {
			display: inline-block;
			position: relative;

			height: 24px;
			padding: 2px 10px;

			input {
				position: absolute;
				top: 4px;
				left: 9px;
				width: 20px;
				height: 20px;
				opacity: 0;
				z-index: 10;

				cursor: pointer;
			}
	
			.radio-overlay {
				position: relative;
				display: inline-block;
				width: 20px;
				height: 20px;
				top: 4px;
	
				margin-right: 10px;
	
				background: #fff;
				border: solid 1px #000;
				border-radius: 12px;
	
				&.selected {
					background: $colorAccent;
					border-color: #000;
				}
			}
		}
	}

	.delete-question {
		width: 200px;
		text-align: left;
		// color: #850000;
		color: #fff;
		font-size: 1em;
		font-weight: 700;
		opacity: 0.5;
		background: #850000;
		// background: #cccccc;

		cursor: pointer;

		&:hover {
			// color: #fff;
			// background: #850000;
			opacity: 1.0;
		}
	}
}

.legend {
	display: none;
	position: absolute;
	z-index: 100;

	top: 0px;
	right: 0px;

	width: 300px;
	height: calc(100% - 50px); // 100% - header - padding
	padding: 25px;

	background: $legendBG;

	header {
		font-weight: 700;
		margin-bottom: 2.5em;
	}

	&.show {
		display: block;
	}

	button.addNew {
		width: 200px;
		outline: none;
		border: none;
		background: none;
		color: rgb(109, 109, 109);
		border-bottom: solid 2px rgb(109, 109, 109);

		margin-top: 15px;
		margin-left: 35px;

		font-size:1em;
		text-align: left;

		&:hover {
			color: #000;
			border-color: #000;
		}
	}

	button.doneBtn {
		display: block;
		position: absolute;
		right: 25px;
		top: 25px;

		padding: 5px 25px;
		outline: none;
		border: none;
		color: #000000;
		background: #ffffff;

		font-weight: bold;

		&:hover {
			color: #ffffff;
			background: $colorAccent;
		}
	}

	.legend-item {
		// height: 25px;
		margin-bottom: 15px;

		.item-color {
			display: inline-block;
			width:25px;
			height: 25px;
			border-radius: 2px;

			// margin-top: 15px;
			margin-right: 10px;
			
			vertical-align: middle;
		}

		input {
			display: inline-block;
			background: none;
			outline: none;
			border: none;
			border-bottom: solid 2px #000;

			margin: 0;
			padding: 0;
			vertical-align: middle;

			font-size: 1.1em;
			
		}

		.remove-item {
			display: inline-block;
			outline: none;
			border: none;
			vertical-align: middle;

			margin-left: 10px;
			font-size: 1.1em;
		}
	}

}