
@import 'common';

div.startupTooltip {
	display: none;
	position: fixed;
	z-index: 99;

	top: 68px;
	right: 5%;

	width: 180px;
	height: 60px;

	padding: 10px;

	color: #ffffff;
	background: rgb(185, 68, 204);

	font-size: 0.8em;
	animation: Bounce 1s infinite;

	@keyframes Bounce {
		0%, 100% {
			top: 68px;
		}
		50% {
			top: 65px;
		}
	}

	&.show {
		display: block;
	}

}

.creator-header {
	position: fixed;
	top: 0;
	z-index: 9;

	input {
		width: 400px;
		margin-top: 5px;
		margin-left: -25px;
		background: none;
		border: none;
		border-bottom: solid 2px #fff;
		color: #fff;

		font-size: 1em;

		outline: none;

		&::placeholder {
			color: $colorAccentHover;
		}

	}

	.debug {
		position: absolute;
		width: 120px;
		left: 50%;

		margin-left: -60px;

		padding: 5px 25px;
		outline: none;
		border: none;

		color: #ffffff;
		background: $colorAccentHover;
		font-weight: bold;
	}

	.toggleLegend, .toggleBank, .toggleIncompleteAttempt {
		float: right;
		padding: 8px 28px;
		outline: none;
		border: none;

		color: #000000;
		background: #ffffff;
		border: solid 1px $colorAccentHover;
		font-weight: bold;

		&.toggleBank, &.toggleIncompleteAttempt {
			margin-right: 10px;
		}

		&:hover {
			color: #000000;
			background: $colorAccentHover;
		}
	}
}

.question-select button.add-new {
	background: none;
	color: #ffffff;
	border: dashed 1px #ffffff;

	&:hover {
		background: #ffffff;
		color: #000000;
		border: none;
	}

	&.disabled {
		color: $darkishBG;
		background: $lightBG;
		cursor: default;
	}
}

.content-container {

	section.question-container input {
		width: 90%;
		margin: 0 0 15px 0;
		border-width: 0 0 2px 0;
		border-color: $colorInput;

		font-size: 1.1em;

		&:focus {
			outline: none;
			border-color: $colorAccent;
		}
	}

	section.phrase-builder {

		position: relative;

		header {
			margin-bottom: 1em;
		}

		.token-tutorial {
			display: none;
			position: absolute;
			overflow: hidden;
			top: 0px;
			right: 0px;
			z-index: 8;

			height: calc(100% - 40px);
			width: calc(50% - 40px);

			padding: 20px;

			color: #fff;
			background: $darkishBG;
			text-align: left;

			transition-duration: 0.1s;
			transition-property: height, width, background-color;

			&:before {
				position: absolute;
				top: 6px;
				right: 12px;
				content: "x";
				font-size: 0.9em;

				cursor: pointer;
			}

			p {
				width: 90%;
				margin: 0 0 10px 0;
				font-size: 0.8em;
			}

			&.minimized {
				display: block;
				height: 16px;
				width: 16px;
				margin: 5px 5px 0 0;
				padding: 4px;
				overflow: hidden;
				text-align: center;
				// border-radius: 8px;
				color: $darkishBG;
				background: none;

				cursor: pointer;

				&:before {
					position: relative;
					top: -4px;
					right: 0;
					font-family: 'icomoon';
					content: "\ea08";
					font-size: 0.9em;
				}

				p {
					display: none;
				}
			}

			&.show {
				display: block;
			}
		}

		.token-container {

			.token-input-container {
				display: inline-block;
				position: relative;

				&:after {
					width: 90%;
					content: "Use Enter or Return to submit. Use Backspace to edit the previous token.";
					font-size: 0.6em;
					position: absolute;
					top: 45px;
					left: 5px;
				}

				.token-input {
					position: relative;
					padding: 5px 8px;
					font-size: 1.5em;
				}
			}
		}

		.token-type-selector {
			display: none;
			position: relative;
			left: -15px;
			// width: calc(100% + 30px);
			width: 100%;
			padding: 15px 15px 30px 15px;
			color: #ffffff;
			background: $darkBG;


			&.show {
				display: block;
			}

			label {
				position: relative;
				display: inline-block;
				padding: 8px 5px 5px 5px;
				margin-right: 0.5em;
				margin-bottom: 0.5em;

				max-width: 250px;

				cursor: pointer;

				input {
					position: absolute;
					top: 0;
					left: 0;
					width: 20px;
					height: 20px;
					opacity: 0;
					z-index: 10;
				}

				span.color-radio {
					position: relative;
					display: inline-block;
					top: -2px;
					width: 20px;
					height: 20px;

					margin-right: 0.4em;

					background: #fff;
					border: solid 2px #fff;

					vertical-align: middle;
				}

				&.selected {
					background: $darkishBG;
				}
			}

			.legend-reminder {
				position: absolute;
				bottom: 10px;
				left: 15px;

				font-size: 0.7em;

				a {
					color: #ffffff;
				}
			}
		}
	}

	.pref-options {
		display: inline-block;
		width: 50%;

		header {
			font-size: 0.9em;
			margin-bottom: 10px;
		}

		.pref-select {
			display: block;
			position: relative;
			min-height: 24px;

			padding: 0 10px 0 30px;
			margin-bottom: 5px;

			font-size: 0.8em;

			input {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 20px;
				height: 20px;
				opacity: 0;
				z-index: 10;

				cursor: pointer;
			}

			.radio-overlay {
				position: absolute;
				display: inline-block;
				width: 20px;
				height: 20px;
				top: 0px;
				left: 0px;

				margin-right: 10px;

				background: #fff;
				border: solid 1px #000;
				border-radius: 12px;

				&.selected {
					background: $colorAccent;
					border-color: #000;
				}
			}
		}
	}

	.student-preview {
		display: inline-block;
		width: 50%;

		header {
			font-size: 0.9em;
			margin-bottom: 10px;
		}

		.preview-container {
			width: calc(100% - 20px);
			min-height: 32px;
			padding: 10px;
			background: $lightBG;
			border: solid 1px $darkishBG;

			.empty-message {
				display: none;
				width: 100%;
				text-align: center;
				color: $darkishBG;
				font-size: 0.8em;

				&.show {
					display: inline-block;
				}
			}

			.mock-token {
				display: inline-block;
				margin-right: 10px;
				margin-bottom: 10px;
				padding: 5px 10px;

			}
		}
	}

	.delete-question {
		width: 200px;
		padding: 16px 15px;
		text-align: left;
		color: #fff;
		font-size: 1em;
		font-weight: 700;
		opacity: 0.5;
		background: #850000;
		border: none;

		cursor: pointer;

		&:hover {
			opacity: 1.0;
		}
	}

	.options-container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

	.options-button {
		// width: 250px;
		min-width: 320px;
		border: solid 1px $colorAccent;
		border-left: solid 5px $colorAccent;
		outline: none;
		margin-right: 15px;
		padding: 6px 15px;

		font-size: 0.7em;
		text-align: left;

		&:hover {
			background: $colorAccentHover;
		}

		header {
			display: inline-block;
			margin: 12px 10px 12px 0;
			font-size: 1.2em;
		}

		.button-context {
			display: none;
			margin-top: 12px;

			&.show {
				display: block;
				float: right;
			}
		}

	}
}

section.fakeout-builder {

	display: block;
	padding: 15px 0;

	.token-container {

		width: calc(100% - 20px);
		padding: 10px 10px 36px 10px;

		border: solid 1px $lightBG;

		.token-input-container {
			display: inline-block;
			position: relative;

			&:after {
				width: 90%;
				content: "Use Enter or Return to submit. Use Backspace to edit the previous token.";
				font-size: 0.65em;
				position: absolute;
				top: 45px;
				left: 5px;
			}
		}
	}

	.token {
		display: inline-block;
		padding: 5px 8px;


		margin: 0 10px 10px 0;

		font-size: 1.5em;
		color: #fff;

		border: solid 2px #fff;
		border-radius: 3px;

		cursor: pointer;

		&.unassigned {
			color: #000;
			border: solid 1px #f1814b;
		}

		&.selected {
			border: solid 2px #f1814b;
		}
	}

	.token-container {

		.token-input {
			padding: 5px 8px;
			font-size: 1.5em;
		}
	}

	.token-type-selector {
		display: none;
		width: calc(100% - 28px);

		padding: 15px;

		color: #ffffff;
		background: $darkBG;

		&.show {
			display: block;
		}

		header {
			font-weight: 700;
			margin-bottom: 1.2em;
		}

		label {
			position: relative;
			display: inline-block;
			padding: 8px 10px;
			margin: 0 1em 0.5em 0;

			max-width: 250px;

			cursor: pointer;

			input {
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				opacity: 0;
				z-index: 10;
			}

			span.color-radio {
				position: relative;
				display: inline-block;
				top: -2px;
				width: 20px;
				height: 20px;

				margin-right: 0.4em;

				background: #fff;
				border: solid 2px #fff;

				vertical-align: middle;
			}

			&.selected {
				background: $darkishBG;
			}
		}
	}
}

.legend {
	display: block;
	position: fixed;
	z-index: 100;

	top: 0px;
	right: -350px;

	width: 300px;
	height: calc(100% - 50px); // 100% - header - padding
	padding: 77px 25px 25px 25px;

	// background: $legendBG;
	background: $darkBG;
	color: #ffffff;

	transition-property: right;
	transition-duration: 0.25s;

	header {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 300px;
		height: 25px;
		padding: 20px 25px;
		font-weight: 700;
		margin-bottom: 2.5em;

		background: $darkishBG;
	}

	p {
		font-size: 0.75em;
		margin: 10px 0 25px 0;
	}

	&.show {
		// display: block;
		right: 0px;
	}

	button.addNew {
		width: 200px;
		margin-top: 15px;
		margin-left: 35px;

		outline: none;
		border: none;
		background: none;
		color: rgb(200, 200, 200);
		border-bottom: solid 2px rgb(200, 200, 200);

		font-size:1em;
		text-align: left;

		&:hover {
			color: #ffffff;
			border-color: #ffffff;
		}
	}

	button.doneBtn {
		display: block;
		position: absolute;
		right: 25px;
		top: 18px;

		padding: 5px 25px;
		outline: none;
		border: none;
		color: #000000;
		background: #ffffff;

		font-weight: bold;

		&:hover {
			color: #000000;
			background: $colorAccentHover;
		}
	}

	.legend-item-container {

		max-height: calc(100% - 160px);
		overflow: auto;

		.legend-item {
			margin-bottom: 15px;

			.item-color {
				display: inline-block;
				width:25px;
				height: 25px;
				border-style: solid;
				border-radius: 2px;

				margin-right: 10px;

				vertical-align: middle;

				&.selected {
					border: solid 2px #fff;
				}
			}

			input {
				display: inline-block;
				background: none;
				outline: none;
				border: none;
				border-bottom: solid 2px #ffffff;

				margin: 0;
				padding: 0;
				vertical-align: middle;

				font-size: 1.1em;

				color: #ffffff;

			}

			.remove-item {
				display: inline-block;
				outline: none;
				border: none;
				vertical-align: middle;

				margin-left: 10px;
				font-size: 1.1em;

				&:hover {
					background: $colorAccentHover;
				}
			}
		}
	}

	.legend-color-picker-wrapper {
		position: absolute;
		top: 0px;
		left: -45px;

		background: #ffffff;

		button {
			position: relative;
			left: -50px;
			width: 100px;
			margin: 12px 0 12px 50%;
			padding: 5px 10px;
			color: #ffffff;
			background: $colorAccent;
			outline: none;
			border: none;

			font-size: 1em;

			&:hover {
				color: #000000;
				background: $colorAccentHover;
			}
		}
	}

}
