@import "common";

.player-container {
	*:focus {
		outline: solid 2px #0093e7;
	}
	header {
		span.title {
			display: inline-block;
			max-width: 66%;
			max-height: 25px;
			overflow: auto;
		}

		button.headerBtn {
			padding: 5px 25px;
			margin: 0 10px;

			border: none;
			background: #fff;
			color: #000;
			font-weight: 700;

			&:hover {
				background: $colorAccentHover;
			}
		}
	}

	.content-container {
		min-height: calc(100% - 100px);
		padding: 75px 25px 25px 25px;

		.card.question-container {
			padding: 15px 15px 5px 15px;

			h2 {
				font-size: 1em;
			}

			p {
				margin: 0;
			}

			.hint-text {
				display: none;
				height: 0px;
				overflow: hidden;
				margin: 0;
				padding: 0 0 10px 0;
				border-top: solid 1px $lightBG;
				background-color: $colorAccentHover;
				transition: background-color 2s;

				&.show {
					display: block;
					height: auto;
					margin: 10px 0 0 0;
					padding: 10px 0;
					background-color: #ffffff;
				}

				h5 {
					// margin: 0 0 10px 0;
					margin: 0 0 5px 0;
					font-weight: 700;
					font-size: 1em;
				}

				font-size: 0.8em;
			}
		}
	}

	section.phrase-player {
		.token.dragging {
			transform: translateX(-9999px);
		}

		.token.is-left {
			border-right: solid 2px $colorAccent;
		}

		.token.is-right {
			border-left: solid 2px $colorAccent;
		}

		&.correct {
			background: $colorCSecondary;
		}

		&.incorrect-no-attempts {
			background: $colorISecondary;
		}

		.token-target {
			width: calc(100% - 20px);
			min-height: 20px;
			margin: 10px;
			padding: 40px 0;

			color: #cacaca;
			text-align: center;
			vertical-align: middle;
			border: dotted 1px #cacaca;
		}

		.token-drawer {
			display: block;
			position: relative;
			left: -15px;
			width: 100%;

			padding: 15px;

			background: #cacaca;

			&.show {
				display: block;
			}

			&.empty {
				padding-top: 0px;
			}

			// RESPONSE STATE: NONE
			&.none {
				section.response-controls {
					display: none;
				}
			}

			// RESPONSE STATE: PENDING
			&.pending {
				section.response-controls {
					display: none;
				}
			}

			// RESPONSE STATE: READY
			&.ready {
				background: $colorBGPending;
			}

			// RESPONSE STATE: CORRECT
			&.correct {
				background: $colorBGCorrect;
			}

			// RESPONSE STATE: INCORRECT
			&.incorrect-attempts-remaining,
			&.incorrect-no-attempts {
				background: $colorBGIncorrect;
			}

			section.response-controls {
				display: flex;
				flex-direction: row;
				width: 100%;
				margin: 10px 0px;
				padding: 10px 0px 0px 0px;
				border-top: solid 1px $lightBG;

				span.controls-message {
					display: inline-block;
					padding-right: 15px;
					font-size: 0.8em;

					div {
						line-height: 2em;
					}

					span {
						line-height: 2em;
					}

					strong {
						text-shadow: 1px 0 #888888;
						letter-spacing: 1px;
						font-weight: bold;
					}
				}

				div.response-message-container {
					flex-grow: 1;
				}

				div.button-container {
					flex-shrink: 0;

					button {
						display: none;
						margin: 0 10px 0 0;
						color: #000;
						background: #fff;
						border: solid 1px $colorBGTertiary;
						padding: 10px 20px;

						font-weight: 700;

						&:hover {
							color: #000;
							background: #ecfff1;
						}

						&.show {
							display: inline-block;
						}

						&.verify {
							&.disabled {
								cursor: default;
								color: #808080;
								background: #d4d4d4;
							}

							&.show:not(.disabled) {
								color: #000;
								background: #fff;
							}

							&:hover:not(.disabled) {
								color: #000;
								background: #ecfff1;
							}
						}
					}
				}
			}
		}
	}

	.legend {
		color: #ffffff;
		background: $darkBG;

		font-size: 0.8em;

		dl {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			gap: 10px;

			dd, dt {
				display: inline-block;
				margin: 0;
			}
			.legend-color {
				position: relative;
				display: inline-block;
				top: 4px;
				width: 18px;
				height: 18px;
				margin-right: 6px;
				padding: 2px 4px;
				border: solid 2px $lightBG;
			}
		}

	}
}

.player-header {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;

	h1 {
		display: inline-block;
		margin: 0;
		padding: 0;
		font-size: 1em;
	}

	.player-header-btns {
		display: flex;
		justify-content: space-between;
	}
}

.warning-wrapper {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;

	.warning {
		position: relative;
		z-index: 101;
		width: 480px;
		margin: auto;
		padding: 25px;

		font-size: 0.9em;

		background: #fff;

		.warning-submit-holder {
			display: flex;
			flex-direction: row;

			button {
				position: relative;
				display: block;
				width: 120px;
				margin-top: 20px;
				margin-bottom: 20px;
				padding: 10px 20px;
				background: $colorAccent;
				border: none;

				font-size: 1.2em;

				cursor: pointer;

				&:hover {
					background: $colorAccentHover;
				}
			}

			button:first-child {
				margin-left: auto;
			}

			button + button {
				margin-left: 20px;
				margin-right: auto;
			}
		}

		#dev-warning {
			color: #990000;
			font-weight: 700;
		}
	}

	.warning-bg {
		position: fixed;
		width: 100%;
		min-height: 100%;
		height: 120%;
		max-height: 150%;
		z-index: 100;
		overflow-y: hidden;

		background: rgba(0, 0, 0, 0.5);
	}
}
