@import 'common';

.player-container {

	header {
		button.headerBtn {
			float: right;
			padding: 5px 25px;

			border: none;
			background: #fff;
			color: #000;
			font-weight: 700;

			&:hover {
				background: $colorAccentHover;
			}

			+.headerBtn {
				margin-right: 15px;
			}
		}
	}

	.content-container {
		min-height: calc(100% - 100px);
		padding: 75px 25px 25px 25px;
	}

	section.phrase-player {

		.token.dragging {
			transform:translateX(-9999px);
		}

		.token.is-left {
			border-right: solid 2px $colorAccent;
		}

		.token.is-right {
			border-left: solid 2px $colorAccent;
		}

		// &.pending:not(.fakeout) {
		// 	background: $colorPSecondary;
		// }

		&.correct {
			background: $colorCSecondary;
		}

		&.incorrect-no-attempts {
			background: $colorISecondary;
		}

		.token-target {
			width: calc(100% - 20px);
			min-height: 20px;
			margin: 10px;
			padding: 40px 0;

			color: #cacaca;
			text-align: center;
			vertical-align: middle;
			border: dotted 1px #cacaca;
		}

		.token-drawer {
			display: block;
			position: relative;
			left: -15px;
			width: 100%;

			padding: 15px;

			background: #cacaca;

			&.show {
				display: block;
			}

			// RESPONSE STATE: NONE
			&.none {
				section.response-controls {
					display: none;
				}
			}

			// RESPONSE STATE: PENDING
			&.pending {
				section.response-controls {
					display: none;
				}
			}

			// RESPONSE STATE: READY
			&.ready {
				background: $colorBGPending;
			}

			// RESPONSE STATE: CORRECT
			&.correct {
				background: $colorBGCorrect
			}

			// RESPONSE STATE: INCORRECT
			&.incorrect-attempts-remaining, &.incorrect-no-attempts {
				background: $colorBGIncorrect;
			}

			section.response-controls {
				display: flex;
				flex-direction: row;
				width: 100%;
				margin: 10px 0px;
				padding: 10px 0px 0px 0px;
				border-top: solid 1px $lightBG;

				span.controls-message {
					display: inline-block;
					width: 60%;
					font-size: 0.8em;

					div {
						line-height: 2em;
					}

					span {
						line-height: 2em;
					}

					strong {
						text-shadow: 1px 0 #888888;
						letter-spacing:1px;
						font-weight:bold;
					}
				}

				div.response-message-container {
					flex-grow: 1;
				}

				div.button-container {

					flex-shrink: 0;

					button {
						display: none;
						margin: 0 10px 0 0;
						color: #000;
						background: #fff;
						border: solid 1px $colorBGTertiary;
						padding: 10px 20px;
						outline: none;

						font-weight: 700;

						&:hover {
							color: #000;
							background: #ecfff1;
						}

						&.show {
							display: inline-block;
						}

						&.verify {

							&.disabled {
								cursor: default;
								color: #808080;
								background: #d4d4d4;
							}

							&.show:not(.disabled) {
								color: #000;
								background: #fff;
							}
		
							&:hover:not(.disabled) {
								color: #000;
								background: #ecfff1;
							}
						}
					}
					
				}

				// // button:not(.check-btn) {
				// button.paginate {
				// 	display: block;
				// 	float: right;
				// 	margin: 0 10px 0 0;
				// 	color: #000;
				// 	background: #fff;
				// 	border: solid 1px $colorBGTertiary;
				// 	padding: 10px 20px;
				// 	outline: none;

				// 	font-weight: 700;

				// 	&:hover {
				// 		color: #000;
				// 		background: #ecfff1;
				// 	}
				// }

				// .check-btn {
				// button.verify {

				// 	display: none;

				// 	&.disabled {
				// 		cursor: default;
				// 		color: #808080;
				// 		background: #d4d4d4;
				// 	}

				// 	&.show {
				// 		display: block;
				// 		// display: inline-block;
				// 		float: right;
				// 		margin: 0 10px 0 0;
				// 		border: solid 1px $colorBGTertiary;
				// 		padding: 10px 20px;
				// 		outline: none;

				// 		font-weight: 700;
				// 	}

				// 	&.show:not(.disabled) {
				// 		color: #000;
				// 		background: #fff;
				// 	}

				// 	&:hover:not(.disabled) {
				// 		color: #000;
				// 		background: #ecfff1;
				// 	}

				// }
			}

			// &.empty {

			// 	font-size: 0.9em;

			// 	&:not(.correct):not(.incorrect):not(.fakeout) {
			// 		background: $colorBGPending;
			// 	}

			// 	section.response-controls {
			// 		display: inline-block;
			// 	}
			// }
		}
	}

	.legend {

		color: #ffffff;
		background: $darkBG;

		font-size: 0.8em;

		.legend-item {
			display: inline-block;
			padding: 5px 10px;

			.legend-color {
				position: relative;
				display: inline-block;
				top: 4px;
				width: 18px;
				height: 18px;
				margin-right: 6px;
				border: solid 2px $lightBG;
			}
		}
	}
}

.player-header {
	position: fixed;
  top: 0;
  //padding-bottom: 15px;
}

.warning-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;

	.warning {
		position: absolute;
		z-index: 101;
		width: 480px;

		top: 20%;
		left: 50%;
		margin-left: -240px;
		padding: 25px;

		font-size: 0.9em;

		background: #fff;

		.warning-submit-holder {
			display: flex;
			flex-direction: row;

			button {
				position: relative;
				display: block;
				width: 120px;
				margin-top: 20px;
				margin-bottom: 20px;
				padding: 10px 20px;
				background: $colorAccent;
				border: none;

				font-size: 1.2em;

				cursor: pointer;

				&:hover {
					background: $colorAccentHover;
				}
			}

			button:first-child {
				margin-left: auto;
			}

			button + button {
				margin-left: 20px;
				margin-right: auto;
			}
		}

		.dev-warning {
			color: #990000;
			font-weight: 700;
		}
	}

	.warning-bg {
		position: fixed;
		width: 100%;
		min-height: 100%;
		height: 120%;
		max-height: 150%;
		z-index: 100;
		overflow-y: hidden;

		background: rgba(0,0,0,0.5);
	}
}


