@import 'common';

.player-container {

	header {
		button.headerBtn {
			float: right;
			padding: 5px 25px;

			border: none;
			background: #fff;
			color: #000;
			font-weight: 700;

			&:hover {
				background: $colorAccentHover;
			}

			+.headerBtn {
				margin-right: 15px;
			}
		}
	}
	section.phrase-player {

		.token.dragging {
			transform:translateX(-9999px);
		}

		.token.is-left {
			border-right: solid 2px $colorAccent;
		}

		.token.is-right {
			border-left: solid 2px $colorAccent;
		}

		&.pending:not(.fakeout) {
			background: $colorPSecondary;
		}

		&.correct {
			background: $colorCSecondary;
		}

		&.incorrect {
			background: $colorISecondary;
		}

		.token-target {
			width: calc(100% - 20px);
			min-height: 20px;
			margin: 10px;
			padding: 40px 0;

			color: #cacaca;
			text-align: center;
			vertical-align: middle;
			border: dotted 1px #cacaca;
		}

		.token-drawer {
			display: block;
			position: relative;
			left: -15px;
			width: 100%;

			padding: 15px;

			background: #cacaca;

			&.show {
				display: block;
			}

			div.empty-section {
				display: none;
				width: 100%;

				span.empty-message {
					display: inline-block;
					width: 60%;

					div {
						line-height: 2em;
					}

					span {
						line-height: 2em;
					}

					strong {
						text-shadow: 1px 0 #888888;
						letter-spacing:1px;
						font-weight:bold;
					}
				}

				button:not(.check-btn) {
					display: inline;
					float: right;
					margin: 10px 20px 0 0;
					color: #000;
					background: #fff;
					border: solid 1px $colorBGTertiary;
					padding: 10px 20px;
					outline: none;

					font-weight: 700;

					&:hover {
						color: #000;
						background: #ecfff1;
					}
				}

				.check-btn {

					display: none;

					&.disabled {
						cursor: default;
						color: #808080;
						background: #d4d4d4;
					}

					&.show {
						display: inline;
						float: right;
						margin: 10px 20px 0 0;
						border: solid 1px $colorBGTertiary;
						padding: 10px 20px;
						outline: none;

						font-weight: 700;
					}

					&.show:not(.disabled) {
						color: #000;
						background: #fff;
					}

					&:hover:not(.disabled) {
						color: #000;
						background: #ecfff1;
					}

				}
			}

			&.correct {
				background: $colorBGCorrect
			}

			&.incorrect {
				background: $colorBGIncorrect;
			}

			&.empty {

				font-size: 0.9em;

				&:not(.correct):not(.incorrect):not(.fakeout) {
					background: $colorBGPending;
				}

				div.empty-section {
					display: inline-block;
				}
			}
		}
	}

	.legend {

		background: $legendBG;

		font-size: 0.8em;

		.legend-item {
			display: inline-block;
			padding: 5px 10px;

			.legend-color {
				position: relative;
				display: inline-block;
				top: 4px;
				width: 18px;
				height: 18px;
				margin-right: 6px;
			}
		}
	}
}

.player-header {
	position: fixed;
  top: 0;
  //padding-bottom: 15px;
}

@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?tr4b0z');
  src:  url('assets/fonts/icomoon.eot?tr4b0z#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?tr4b0z') format('truetype'),
    url('assets/fonts/icomoon.woff?tr4b0z') format('woff'),
    url('assets/fonts/icomoon.svg?tr4b0z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notification:before {
  content: "\ea08";
  padding-right: .5em;
}

