@import 'common';

.player-container {

	header {
		button.submit {
			float: right;
			padding: 5px 15px;

			border: none;
			background: #fff;
			color: #000;
			font-weight: 700;			
		}
	}
	section.phrase-player {

		.token.dragging {
			transform:translateX(-9999px);
		}
	
		.token.is-left {
			border-right: solid 2px $colorAccent;
		}
	
		.token.is-right {
			border-left: solid 2px $colorAccent;
		}
	
		.token-target {
			width: calc(100% - 20px);
			min-height: 20px;
			margin: 10px;
			padding: 40px 0;
	
			color: #cacaca;
			text-align: center;
			vertical-align: middle;
			border: dotted 1px #cacaca;
		}
	
		.token-drawer {
			display: block;
			position: relative;
			left: -15px;
			width: 100%;
	
			padding: 15px;
	
			background: #cacaca;
	
			&.show {
				display: block;
			}
		}
	}

	.legend {

		background: $legendBG;

		font-size: 0.8em;

		.legend-item {
			display: inline-block;
			padding: 5px 10px;

			.legend-color {
				position: relative;
				display: inline-block;
				top: 4px;
				width: 18px;
				height: 18px;
				margin-right: 6px;
			}
		}
	}
}