/* Score Screen */

@import 'common';

.content-container {
	width: calc(100% - 50px);
	margin-left: 0px;
	padding: 25px 25px 100px 25px;

	.question-text-container {
		display: flex;
		flex-direction: column;
		padding-bottom: 0;

		h3 {
			font-size: 0.8em;
			font-weight: 400;
			margin: 0 0 1em 0;
		}

		h5 {
			margin: 0 0 1em 0;
			font-size: 0.8em;
			font-weight: 400;
		}

		.response-container, .correct-container {

			position: relative;
			left: -15px;
			width: 100%;
			padding: 15px;

			.token {
				display: inline-block;
				padding: 5px 8px;
				margin: 0 5px 5px 0;

				font-size: 1.2em;
				color: #fff;

				border: solid 2px #fff;
				border-radius: 3px;
			}

			.deduction-indicator {
				position: absolute;
				right: 18px;
				top: 10px;

				font-size: 0.8em;
				font-weight: 700;
				font-style: italic;

				opacity: 0.5;
			}
		}

		.correct-container {
			background-color: $colorBGTertiary;
		}

		.correct {
			background-color: $colorBGCorrect;
		}

		.incorrect {
			background-color: $colorBGIncorrect;
		}
	}

}
