name: Widget Release Build
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
     - '[0-9]+.[0-9]+.[0-9]+'
     - '[0-9]+.[0-9]+.[0-9]+-rc[0-9]+'
     - '[0-9]+.[0-9]+.[0-9]+-alpha[0-9]+'
jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Test and build with node ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install -g yarn
    - run: yarn install
#   - run: yarn test-ci
    - run: yarn build
          
    - name: Upload Release .wigt
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: build/_output/*
        tag: ${{ github.ref }}
        overwrite: false
        file_glob: true
